language: php

sudo: true

addons:
  apt:
    packages:
      - oracle-java8-set-default

matrix:
  fast_finish: true
  include:
    - php: 5.6
    - php: 7.0
    - php: 7.1
    - php: hhvm
  allow_failures:
    - php: hhvm

env:
  global:
    - ES_VERSION="5.2.2"

before_install:
  - curl -O "https://artifacts.elastic.co/downloads/elasticsearch/elasticsearch-${ES_VERSION}.deb"
  - sudo dpkg -i --force-confnew elasticsearch-${ES_VERSION}.deb
  - sudo service elasticsearch restart
  - phpenv config-rm xdebug.ini || return 0
  - echo "memory_limit=2G" >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini || return 0

install:
  - travis_retry composer self-update
  - travis_retry composer install
  - composer info -i

script:
  - phpunit --exclude-group=none

branches:
  only:
    - master
